<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="modal fade" th:fragment="modal" id="createReservationModal" tabindex="-1" role="dialog" aria-labelledby="createReservationModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createReservationModalTitle">Create Reservation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="#" th:action="@{/reservations-submit}" th:object="${reservation}" method="post" >
                        <div class="form-group row">
                            <label for="start-date" class="col-2 col-form-label">Amenity</label>
                            <div class="col-10">
                                <select class="form-control" id="type-select" th:field="*{amenityType}">
                                    <option value="POOL">POOL</option>
                                    <option value="SAUNA">SAUNA</option>
                                    <option value="GYM">GYM</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="start-date" class="col-2 col-form-label">Date</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="start-date" name="trip-start" th:field="*{reservationDate}"
                                       value="2022-05-04"
                                       min="2021-05-01" max="2022-12-31">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="start-time" class="col-2 col-form-label">From</label>
                            <div class="col-10">
                                <input class="form-control" type="time" id="start-time" name="time" th:field="*{startTime}"
                                       min="08:00" max="19:30" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="end-time" class="col-2 col-form-label">To</label>
                            <div class="col-10">
                                <input class="form-control" type="time" id="end-time" name="time" th:field="*{endTime}"
                                       min="08:30" max="20:00" required>
                                <small>Amenities are available from 8 am to 8 pm</small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="Submit">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" th:fragment="modalnew" id="searchReservationModal" tabindex="-2" role="dialog" aria-labelledby="searchReservationModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchReservationModalTitle">Search Reservation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="#" th:action="@{/reservations-search}" th:object="${reservation}" method="Post" >

                        <div class="form-group row">
                            <label for="start-date" class="col-2 col-form-label">Date</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="search-date" name="trip-start" th:field="*{reservationDate}"
                                       value="2022-07-22"
                                       min="2021-05-01" max="2022-12-31">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="Submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" th:fragment="addtopic" id="addTopic" tabindex="-2" role="dialog" aria-labelledby="addTopicModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTopicModalTitle">Add Study Topic</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="#" th:action="@{/topic-submit}" th:object="${topicPojo}" method="Post" >
                        <div class="form-group row">
                            <label for="topic-study-date" class="col-2 col-form-label">Study Date</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="topic-study-date" th:field="*{topicStudyDate}"
                                       value="2022-07-22"
                                       min="2022-01-01" max="2023-12-31">
                            </div>
                            <label for="subject" class="col-2 col-form-label">Subject</label>
                            <div class="col-10">
                                <select class="form-control" type="type-select" id="subject" th:field="*{subject}">
                                    <option value="MATHS1">MATHS 1</option>
                                    <option value="MATHS 2">MATHS 2</option>
                                    <option value="PHYSICS1">Physics 1</option>
                                    <option value="PHYSICS2">Physics 2</option>
                                    <option value="CHEMISTRY1">Chemistry 1</option>
                                    <option value="CHEMISTRY2">Chemistry 2</option>
                                </select>
                            </div>
                            <label for="chapter" class="col-2 col-form-label">Chapter Name</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="chapter" th:field="*{chapter}">
                            </div>
                            <label for="topicName" class="col-2 col-form-label">Topic Name</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="topicName" th:field="*{topicName}">
                            </div>
                            <label for="confidenceLevel" class="col-2 col-form-label">Confidence</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="confidenceLevel" th:field="*{confidenceLevel}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" value="Submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" th:fragment="searchschedule" id="searchSchedule" tabindex="-2" role="dialog" aria-labelledby="searchReservationModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="searchScheduleTitle">Search Schedule</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form action="#" th:action="@{/revision-search-date}" th:object="${revisionSearchPojo}" method="Post" >

                        <div class="form-group row">
                            <label for="revision-start-date" class="col-2 col-form-label">Start Date</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="revision-start-date" name="trip-start" th:field="*{revisionStartDate}"
                                       value="2022-07-22"
                                       min="2022-01-01" max="2023-12-31">
                            </div>
                            <label for="revision-end-date" class="col-2 col-form-label">End Date</label>
                            <div class="col-10">
                                <input class="form-control" type="date" id="revision-end-date" name="trip-start" th:field="*{revisionEndDate}"
                                       value="2022-07-22"
                                       min="2022-01-01" max="2023-12-31">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" value="Submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>