<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Study</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>

<div>
    <div th:insert="fragments/Header :: nav"></div>
    <div class="container" style="padding-top: 10vh; display: flex; flex-direction: column; align-items: center;">
        <h3>Welcome <span th:text=" ${session.student.getFullName()}"></span></h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Subject</th>
                    <th scope="col">Chapter</th>
                    <th scope="col">Topic</th>
                    <th scope="col">Confidence Level</th>
                    <th scope="col">Last Revision Date</th>
                    <th scope="col">Next Revision Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="topic : ${session.student.getTopics}">
                    <td th:text="${topic.getSubject()}"></td>
                    <td th:text="${topic.getChapter()}"></td>
                    <td th:text="${topic.getTopic()}"></td>
                    <td th:text="${topic.getConfidence()}"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTopicEntry">
            Add New Topic
        </button>

        <!-- Modal -->
        <div th:insert="fragments/modal :: modal" th:with="reservation=${reservation}"></div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>